*                           @Kakadu
test_proj                   @Kakadu

# Шаблон:
# #          ФИ1, ФИ 2
# # dir_name   @nick1 @nick2

Some_name        @airh4ck @Danila-Pechenev
#

            Старцев Алексеев
CreeperML   @tozarin @arthur100500
