depexts: [
  [ "nasm" "llvm-14-dev" "clang-14" "gcc-12" "pkg-config" 
    "qemu-user-static" "binutils-riscv64-linux-gnu"
    "ocaml-nox"
  ] {os-distribution = "ubuntu"}
  #["llvm16-dev"] {os-distribution = "alpine"}
]
